<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
  </startup>
  <appSettings>
    <add key="DB00" value="Data Source=C:\med\S_DRGService_3420\icd10.sdf;Password=;Persist Security Info=True;Max Database Size=2048;" />
    <add key="dbtype" value="sqlce" />
  </appSettings>
  <connectionStrings>
    <add name="DB00" connectionString="Data Source=C:\med\S_DRGService_3420\icd10.sdf;Max Database Size=2048;" />
  </connectionStrings>
</configuration>
